---
- name: Install Jetify Devbox
  hosts: all
  become: true # Ensures tasks run with sudo privileges
  tasks:
    - name: Download the Devbox installation script
      ansible.builtin.get_url:
        url: https://get.jetify.com/devbox
        dest: /tmp/install_devbox.sh
        mode: '0755' # Make the script executable
        force: true

    - name: Run the Devbox installation script
      ansible.builtin.command:
      #ansible.builtin.expect:
        cmd: /tmp/install_devbox.sh -f
        #cmd: /tmp/install_devbox.sh
      args:
        creates: /usr/local/bin/devbox # Prevents re-running if devbox is already installed
      #become: false

    - name: Make devbox available
      ansible.builtin.file:
        path: /usr/local/bin/devbox
        mode: '0755'
        owner: m # fixup hardcoded user
        group: m # fixup hardcoded user
        state: file
